.Form {
    border: none;
    border-bottom: 2px solid #00d1ff;
    margin-bottom: 15px; 
    padding: 5px 0; 
}

.Button {
    border: none;
    background-color: #242a3d;
    color: aliceblue;
    border-radius: 50px; 
    padding: 8px 20px; 
    min-width: 100px; 
    margin: 10px; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.Button:hover {
    cursor: pointer;
    background-color: aliceblue;
    color: #242a3d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
