.Row {
    height: calc(100vh - 81px);
}

.Input {
    background: #eba5e6; 
    border: 1px solid #cfd8dc; 
    box-sizing: border-box;
    border-radius: 5px;
    color: #d2e0f0; 
    text-align: center; 
    padding: 12px; 
    font-family: 'Arial', sans-serif; 
}

.Header {
    font-style: italic; 
    font-weight: 600; 
    font-size: 18px; 
    line-height: 22px; 
    text-align: center;
    letter-spacing: 0.15em; 
    text-transform: capitalize; 
    color: #4b1043; 
}

.Link {
    text-decoration: underline; 
    text-align: center;
    display: block;
    margin: auto;
}

.Link span {
    color: #d160e0; 
    font-weight: bold; 
}

.Container {
    padding: 40px 20px; 
    background-color: #fafafa; 
}

.SignInCol {
    height: 350px; 
    background-color: #fce4ec; 
}

.SignUpCol {
    height: 400px; 
    background-color: #f4e8f5; 
}
